.daily {
  margin-top: 18vh;
  background-color: green;
  margin-bottom: 9vh;
}

.daily__img {
  width: 70%;
}

.daily__p {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

// .weekly {
//   display: flex;
//   justify-content: center;
//   align-items: center;
  
// }

