.favorite {
  position: relative;
  margin-top: 18vh;
  margin-bottom: 6.5vh;
  // height: 100vh;
  padding-top: 0.5vh;
  // margin-bottom: 8vh;
  background-color: white;
  // display: flex;
  // flex-wrap: wrap;
}

// // .favorite__box {
// //   display: flex;
// //   width: auto;
// // }

// .favorite__container {
//   position: relative;
//   // display: flex;
//   background-color: grey;
//   width: 50%;
// }

// .favorite__img {
//   width: 10rem;
// }

// .favorite__text-container {

// }

// .favorite__name {
//   position: absolute;
//   top: 0;
// }

.daily__share {
  position: absolute;
  right: 0rem;
}
