.ingredients {
  padding-top: 18vh;
  // background-color: #e7f0f4;
  margin-bottom: 8vh;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 8vh;
  // height: 100vh;
}

.ingredients__container {
  margin: 0 auto;
  padding-top: 2rem;

}


