.menu {
  height: 6.5vh;
  // margin-top: 1px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  

}
.menuBottom{
  height: 6.5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}