.menu {
  background-color:red;
}
.menuBottom{
  height: 6.5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}