.shoppingContainer {
  background-color: #fff;
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 5vh;
}

.shoppingCart {
  margin-top: 14vh;
  padding: 2rem;
}

.cart__header {
  display: flex;
  justify-content: space-between;
}

.cart__items {
  display: flex;
}

.cart__quantity {
  width: 1.2rem;
  margin-left: 1.5rem;
  outline: none;
}

.cart__id {
  margin-right: 1rem;
}

.cart__ing__q {
  margin-right: 1rem;
}

.cart__bottom {
  display: flex;
}

.cart__name {
  width: 70%;
  border: 0;
  outline: none;
}

.shoppingContainer__add-input {
  width: 70%;
  outline: none;
  background-color: #1db954;
  color: white;

}