.weekly {
  position: relative;
  margin-top: 18vh;
  margin-bottom: 10vh;
  background-color:rgb(73, 61, 61);
  height: 75vh;
}

.weekly__item {
  display: flex;
  background-color: rgb(117, 49, 115);
  margin: 0.5rem 2rem;
  height: calc(100% / 6.8);
}

.weekly__img {
  height: 100%;
}

.weekly__food-name {
  margin-left: 2rem;
  background-color: green;
}
