
.weekly {
  position: relative;
  padding-top: 22vh;
  padding-bottom: 10vh;
  // background-color:rgb(73, 61, 61);
}

.weekly__item {
  display: flex;
  // background-color: rgb(117, 49, 115);
  margin: 0.5rem 2rem;
  height: calc(100% / 6.8);
  border-radius: 0.7rem;
  
}

.weekly__image-container {
  display: flex;
  align-items: center;
}

.weekly__img {
  height: 15vh;
  border-radius: 0.7rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 0;
}

.weekly__food-name {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  // border: 0.5px solid rgb(73, 61, 61);
  width: 90%;  
  font-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  color: rgb(73, 61, 61);
  // background-color:#FBE9E7;
  background: linear-gradient(to bottom, #fafafa 0%, #fafafa 10%,#fafafa 100%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);



}

.weekly__food-name > a {
  text-decoration: none;
  color: rgb(73, 61, 61);
}

.weekly__p {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase; 
}

.weekly__calories {
  box-sizing: border-box;
  position: absolute;
  bottom: -1rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  color: #757575;
  right: 0;
  padding: 0.5rem;
}

.weekly > a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.weekly__delete {
  position: absolute;
  top: 0;
  right: 0; 
  margin: 0.2rem;
  padding: 0;
}

.weekly__delete-icon {
  padding: 0;
}