@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import url("https://fonts.googleapis.com/css?family=Allerta");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.header {
  background: #1db954;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1db954, #8DC26F);
  background: -moz-linear-gradient(right, #1db954, #8DC26F);
  background: -o-linear-gradient(right, #1db954, #8DC26F);
  background: linear-gradient(to left, #1db954, #8DC26F);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 18vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px; }

.header__top_menu {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh; }

.header__home__grocery {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.header__open-menu {
  cursor: pointer; }

.header__calendar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f1; }

.header__calendar > a {
  text-decoration: none;
  font-family: 'Allerta', sans-serif;
  font-weight: bold;
  font-size: 1.2rem; }

.header__profile-img {
  border-radius: 50%;
  height: 100%;
  margin-left: 2rem; }

.menu {
  background-color: red; }

.menuBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff; }

.searchFood {
  position: relative;
  margin-top: 18vh; }

.item > p {
  text-decoration: none; }

.item__colories {
  font-style: normal;
  color: black;
  margin-top: 0.2rem; }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1db954;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1db954, #8DC26F);
  background: -moz-linear-gradient(right, #1db954, #8DC26F);
  background: -o-linear-gradient(right, #1db954, #8DC26F);
  background: linear-gradient(to left, #1db954, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; }

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.login_container > input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border-radius: 5px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.login__button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  background: #1db954;
  border-radius: 3px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 0.9rem;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.login__button button:hover, .login__button button:active, .login__button button:focus {
  color: #1a1a1a; }

.weekly {
  position: relative;
  margin-top: 22vh;
  margin-bottom: 10vh; }

.weekly__item {
  display: flex;
  margin: 0.5rem 2rem;
  height: calc(100% / 6.8); }

.weekly__image-container {
  display: flex;
  align-items: center; }

.weekly__img {
  height: 15vh;
  border-radius: 0.7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.weekly__food-name {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  width: 90%;
  font-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  color: #493d3d;
  background: linear-gradient(to bottom, #fafafa 0%, #fafafa 10%, #fafafa 100%); }

.weekly__food-name > a {
  text-decoration: none;
  color: #493d3d; }

.weekly__p {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase; }

.weekly__calories {
  box-sizing: border-box;
  position: absolute;
  bottom: -1rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  color: #757575;
  right: 0;
  padding: 0.5rem; }

.weekly > a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500; }

.weekly__delete {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.2rem;
  padding: 0; }

.weekly__delete-icon {
  padding: 0; }

.nodata {
  margin-top: 42vh; }

.ingredients {
  margin-top: 18vh;
  background-color: #e7f0f4;
  margin-bottom: 8vh;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px; }

.favorite {
  position: relative;
  margin-top: 19vh;
  margin-bottom: 10vh;
  height: 100vh; }

.daily__share {
  position: absolute;
  right: 1rem; }

.optionModal {
  margin-top: 10vh;
  width: 80%;
  word-break: break-all;
  padding: 1rem;
  box-sizing: border-box; }

.ReactModalPortal > div {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.optionModal__title {
  text-align: center; }

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out; }

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1; }

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0; }

.searchVideo {
  margin-top: 18vh;
  width: 100%; }

.shoppingCart {
  margin-top: 20vh;
  margin-right: 3rem;
  margin-left: 3rem; }

.cart__header {
  display: flex;
  justify-content: space-between; }

.cart__items {
  display: flex; }

.cart__quantity {
  width: 1rem;
  margin-left: 1.5rem; }

.cart__id {
  margin-right: 1rem; }

.cart__ing__q {
  margin-right: 1rem; }

.cart__bottom {
  display: flex; }

.quickPicker {
  margin-top: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 9vh; }

.quickPicker__drinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap; }

.quickPicker__fruit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap; }

.quickPicker__meat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap; }

.quickPicker__item {
  width: 5.5rem;
  border: 0.3px solid black;
  margin: 5px; }

.daily {
  margin-top: 22vh;
  margin-bottom: 9vh; }

.daily__item {
  position: relative; }

.ingredients-info {
  position: relative;
  margin: 0 auto; }

.food-name {
  font-family: "Bree Serif", serif;
  position: absolute;
  left: 4rem;
  background: rgba(255, 255, 255, 0.4); }

.daily__img {
  width: 70%;
  border-radius: 0.5rem; }

.daily__img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.daily__p {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px; }

.img_btn {
  margin: 1rem; }

.daily__edit-btn {
  position: absolute;
  right: 4rem; }

.nutrients {
  position: relative;
  margin-top: 20vh;
  margin-bottom: 10vh;
  background-color: #e7f0f4; }

.nutrients__p {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px; }

.chatRoom {
  position: fixed;
  top: 43vh;
  right: 0;
  width: 50%;
  height: 20rem;
  box-sizing: border-box;
  background-color: black;
  opacity: 0.52;
  color: black;
  font-weight: bold;
  font-style: italic; }

.chatRoom > input {
  box-sizing: border-box;
  width: 90%;
  border-radius: 5px; }

.chatRoom ul {
  overflow: auto;
  height: 15rem;
  list-style-type: none;
  padding: 0.5rem;
  margin: 0; }

.chatRoom li {
  width: 100%;
  color: white; }

.chatRoom li:nth-child(odd) {
  text-align: right; }

.chatRoom li:nth-child(even) {
  text-align: left; }

.chatRoom button {
  color: white; }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1db954;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1db954, #8DC26F);
  background: -moz-linear-gradient(right, #1db954, #8DC26F);
  background: -o-linear-gradient(right, #1db954, #8DC26F);
  background: linear-gradient(to left, #1db954, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; }

.home__enter {
  font-size: 3rem;
  color: white; }

.home > a {
  text-decoration: none;
  font-family: "Allerta", sans-serif;
  font-weight: 900;
  text-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2); }
