.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px; }

.header__top_menu {
  background-color: turquoise;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh; }

.header__home__grocery {
  background-color: yellow;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.header__calendar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5ada0; }

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff; }

.searchFood {
  position: relative;
  margin-top: 18vh; }

.login {
  display: flex;
  height: 40vh;
  width: 60%;
  margin: 0 auto;
  background-color: darkorchid;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.weekly {
  margin-top: 18vh; }

.nodata {
  margin-top: 42vh; }

.ingredients {
  position: relative;
  margin-top: 18vh;
  margin-bottom: 8vh;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px; }

.favorite {
  margin-top: 18vh; }

.optionModal {
  word-break: break-all;
  background-color: yellow; }

.ReactModalPortal > div {
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out; }

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1; }

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0; }
