body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1db954; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1db954, #8DC26F);
  background: -moz-linear-gradient(right, #1db954, #8DC26F);
  background: -o-linear-gradient(right, #1db954, #8DC26F);
  background: linear-gradient(to left, #1db954, #8DC26F);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
  /* height: 100vh; */

}
